body{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    }
 header{
     padding: 20px;
     height: 100px;
     background-color: gray;
     
 }

 header a{
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     margin-top:  40px;
 }

 header .logo a{
     background-image: url("images/veganlogo2.jpg");
     background-size: 300px;
     background-repeat: no-repeat;
     display: inline-block;
     height: 80px;
     position: relative;
     text-indent: -9999999px;
     top: -30px;  
     width: 300px;

 }
 section{
     background-color: white;
     color: gray;
     padding: 20px;
     display: flex;
     flex-direction: row;
 }

 div{
     background: blue;
     margin: auto;
     width: 100px;     
 }

 ul{
     margin: 0;
     padding: 0;
     list-style-type: none;

 }
 li{
     display: inline-block;
     margin-right: 20px;
 }
footer{
    background: gray;
    padding: 10px 20px;
}

